<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>
      Eventos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>



    <ion-item id="open-modal">
      <ion-icon icon="calendar-outline" slot="start" color="primary"></ion-icon>
      <ion-label>Data e hora</ion-label>
      <ion-text slot="end">{{ formattedString }}</ion-text>
    </ion-item>

    <ion-modal trigger="open-modal">
      <ng-template>
        <ion-content scrollY="false">
          <ion-datetime #datetimemodal [value]="dateValue" size="cover"
            (ionChange)="modalDateChanged(datetimemodal.value)">
            <ion-buttons slot="buttons">
              <ion-button (click)="close()">Cancelar</ion-button>
              <ion-button (click)="select()" color="primary">Ok</ion-button>
            </ion-buttons>
          </ion-datetime>
        </ion-content>
      </ng-template>
    </ion-modal>

</ion-content>
