<mat-vertical-stepper linear="false" #formulario>
  <mat-step [stepControl]="eventoForm">
    <form [formGroup]="eventoForm">
      <ng-template matStepLabel>Dados do cliente</ng-template>
      <mat-form-field>
        <input
          matInput
          placeholder="Nome Completo"
          formControlName="fullName"
          required
        />
      </mat-form-field>
      <br />
      <mat-form-field>
        <input matInput placeholder="CPF" formControlName="cpf" required />
      </mat-form-field>
      <br />

      <mat-form-field>
        <input matInput placeholder="E-mail" formControlName="email" />
      </mat-form-field>
    </form>
  </mat-step>


  <mat-step [stepControl]="eventoForm" label="Dados do evento">
    <form [formGroup]="eventoForm">
      <ng-template matStepLabel>Dados do evento</ng-template>
      <mat-form-field>
        <input
          matInput
          placeholder="Data"
          formControlName="date"
          required
        />
      </mat-form-field>
      <br />
      <mat-form-field>
        <input matInput placeholder="Tema" formControlName="tema" />
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Endereço" formControlName="endereco" />
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Local" formControlName="local" />
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Horário de chegada" formControlName="chegada" />
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Horário de saída" formControlName="saida" />
      </mat-form-field>
    </form>
  </mat-step>
  <mat-step>
    <form [formGroup]="eventoForm">
      <ng-template matStepLabel>Serviço contratado</ng-template>

      <mat-form-field>
        <input
          matInput
          placeholder="Serviço contratado"
          formControlName="date"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="Valor do serviço"
          formControlName="date"
          required
        />
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Voltar</button>
        <button mat-button matStepperNext>OK</button>
      </div>
    </form>
  </mat-step>

  <mat-step label="Confirmar dados">
    Ao clicar em finalizar, você confirma todos os dados do evento.
    <div>
      <button mat-button matStepperNext>Finalizar</button>
      <!-- <button mat-button (click)="formulario.reset()">Limpar tudo</button> -->
    </div>
  </mat-step>
</mat-vertical-stepper>
