<ion-app>
  <!-- Sidemenu <ion-menu side="start" menuId="first" contentId="content1">
      <ion-header>
        <ion-toolbar>
           <ion-ti
            tle>Navigate</ion-ti>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list *ngFor="let pages of navigate">
        <ion-menu-toggle auto-hide="true">
          <ion-item [routerLink]="pages.url" routerDirection="forward">
              <ion-icon [name]="pages.icon" slot="start"></ion-icon>
                 {{pages.title}}
          </ion-item>
        </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="content1"></ion-router-outlet> -->

  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content">
      <ion-accordion-group>
        <ion-accordion>
          <ion-item slot="header"> Evento </ion-item>
          <div slot="content">
            <ion-accordion-group>
              <ion-item>
                <ion-item slot="header"> Recreação </ion-item>
              </ion-item>

              <ion-accordion>
                <ion-item slot="header"> Animação </ion-item>

                <ion-list slot="content">
                  <ion-item>
                    <ion-label>Pintura facial</ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-label>Som </ion-label>
                  </ion-item>
                </ion-list>
              </ion-accordion>
            </ion-accordion-group>
          </div>
        </ion-accordion>
      </ion-accordion-group>
    </ion-menu>

    <!-- Router outlet for main content -->
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
