<div class="footer-menu">
  <ion-row class="ion-text-center">
    <ion-col size="2" class="ion-text-center">
      <a  href="/events" >
      <img class="throw" src="../../../assets/lance.png"
        routerLinkActive="router-link-active">
      </a>
      <div class="text-footer" style="color: #666666; font-size: 12px;" routerLink="['/events']">
        Agendar
      </div>

    </ion-col>

    <ion-col size="0.3" class="ion-text-center">
      <div class="line-footer center"></div>
    </ion-col>

    <ion-col size="3" class="ion-text-center" routerLink="['/contracts']">
      <a  href="/contracts" >
      <img class="ticket" routerLinkActive="router-link-active"
        src="../../../assets/people.png" src="../../../assets/boleto-menu.png">
      </a>
      <div class="text-footer" style="color: #666666; font-size: 12px;" routerLink="['/events']">
        Contratos
      </div>
    </ion-col>

    <ion-col size="3" class="ion-text-center">
      <a routerLink="['/events']">
      <ion-col size="3" routerLink="['/home']">
        <div class="circle-home center" routerLink="['/home']">
          <div class="circle-icon">
            <ion-row class="icon-home center">
              <img src="../../../assets/house.png"
                routerLinkActive="router-link-active" style="margin: 15px 10px 1px 20px;">
            </ion-row>
            <ion-row class="text-circle center" >
              <div routerLink="['/home']">
               <strong>Home</strong>
              </div>
            </ion-row>
          </div>
        </div>
    </ion-col>
    </a>
    </ion-col>


    <ion-col size="2" class="ion-text-center" routerLink="['/events']">
      <a  href="/events" >
      <img class="assembly-icon"
        routerLinkActive="router-link-active" src="../../../assets/people.png">
      </a>
      <div class="assembly-text" routerLink="['/events']">Eventos</div>
    </ion-col>
    <ion-col size="0.3">
     <div class="line-footer center"></div>
    </ion-col>
    <ion-col size="1" class="ion-text-center" [routerLink]="['/game']">
      <img class="more-icon"  src="../../../assets/more.png"
        routerLinkActive="router-link-active">
      <div class="more-text">Game</div>
    </ion-col>
  </ion-row>
</div>

<!-- <ion-row> </ion-row> -->

<ion-row class="padding">
  <ion-col size="5.5" class="padding">
    <div
      class="ion-float-left"
      style="width: 160%; height: 5px; background: #5d525c"
    ></div>
  </ion-col>
   <ion-col size="5.5" class="padding">
    <div
      class="ion-float-left"
      style="width: 150%; height: 5px; background: #5d525c"
    ></div>
  </ion-col>
  <ion-col size="4.5" class="padding">

    <!-- <div
      class="ion-float-left"
      style="width: 47%; height: 5px; background: #fb02ee"
    ></div>
    <div
      class="ion-float-left"
      style="width: 38%; height: 5px; background: #fb02ee"
    ></div>
    <div
      class="ion-float-right"
      style="width: 15%; height: 5px; background: #fb02ee"
    ></div> -->
  </ion-col>
</ion-row>
